<div class="col-md-6 col-md-offset-3" ng-init="getAllProducts()">
	<h2>Produtos</h2>
  <br/>

  <table ng-if="products.length > 0">
    <tbody>
      <tr>
        <th><p>Nome</p></th>
        <th><p>Marca</p></th>
        <th><p>Quantidade</p></th>
        <th></th>
        <th></th>
				<th></th>
      </tr>


      <tr ng-repeat="product in products | orderBy : 'name'">
        <td><p>{{product.name}}</p></td>
        <td><p>{{product.brand}}</p></td>
        <td><p>{{product.stock}}</p></td>

        <td>
          <a ng-href="#/product/{{product._id}}" class="btn btn-link">Ver</a>
        </td>
        <td>
          <a ng-href="#/product/edit/{{product._id}}" class="btn btn-link">Editar</a>
        </td>
				<td>
          <a ng-click="removeProduct(product._id)" class="btn btn-link">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-if="products.length == 0">
    <span>Nenhum produto adicionado ainda.</span>
    <a href="#/products/add" class="btn btn-link">Adicionar Produto</a>
  </div>

</div>
