<div class="col-md-6 col-md-offset-3" ng-init="getProduct()">
  <a ng-href="#/products">
    <button class="btn btn-primary pull-right">Home</button>
  </a>
	<h2>Produto</h2>
  <br/>

  <div ng-if="product !== {} || !dataLoading">
    <table border="1">
      <!-- <tr>
        <th>ID do Produto</th>
          <td>{{product._id}}</td>
        </tr> -->
      <tr>
        <th>Nome</th>
        <td>{{product.name}}</td>
      </tr>
      <tr>
        <th>Categoria</th>
        <td>{{product.category}}</td>
      </tr>
      <tr>
        <th>Marca</th>
        <td>{{product.brand}}</td>
      </tr>
      <tr>
        <th>Modelo</th>
        <td>{{product.model}}</td>
      </tr>
      <tr>
        <th>Cor</th>
        <td>{{product.color}}</td>
      </tr>
      <tr>
        <th>Ano de Fabricação</th>
        <td>{{product.year}}</td>
      </tr>
      <tr>
        <th>Data de Criação</th>
        <td>{{product.Created_date}}</td>
      </tr>
      <tr>
        <th>Peso</th>
        <td>{{product.weight}} kg</td>
      </tr>
      <tr>
        <th>Dimensões</th>
        <td>{{product.dimensions}} cm</td>
      </tr>
      <tr>
        <th>Produto Disponível</th>
        <td>{{product.enabled}}</td>
      </tr>
    </table>
    <br/>
    <br/>

    <a ng-click="disableProduct(product._id)" ng-if="product.enabled">
      <button class="btn btn-primary">Desabilitar</button>
    </a>
    <a ng-click="enableProduct(product._id)" ng-if="!product.enabled">
      <button class="btn btn-primary">Habilitar</button>
    </a>
    <a ng-href="#/product/edit/{{product._id}}">
      <button class="btn btn-primary">Editar</button>
    </a>
    <a ng-href="#/product/stock/{{product._id}}">
      <button class="btn btn-primary">Estoque</button>
    </a>
    <a ng-click="removeProduct(product._id)">
      <button class="btn btn-primary">Deletar</button>
    </a>

  </div>



  <div ng-if="product === {}">
    <span>Nenhum produto com esse id no banco de dados.</span>
    <a href="#/products/add" class="btn btn-link">Adicionar Produto</a>
  </div>
  <div ng-if="dataLoading">
    <span>Buscando produto do banco de dados...</span>
  </div>

</div>
