<div class="col-md-6 col-md-offset-3" ng-init="getProduct()">
	<h2>Produto</h2>
  <br/>

  <div ng-if="product !== {} || !dataLoading">
    <table border="1">
      <tr ng-repeat="(key, val) in product">
        <th >{{key}}</th>
        <td>{{val}}</td>
      </tr>
    </table>
    <br/>
    <br/>

    <a ng-href="#/product/edit/{{product._id}}">
      <button class="btn btn-primary">Editar</button>
    </a>
    <a ng-click="removeProduct(product._id)">
      <button class="btn btn-primary">Deletar</button>
    </a>

  </div>



  <div ng-if="product === {}">
    <span>Nenhum produto com esse id no banco de dados.</span>
    <a href="#/products/add" class="btn btn-link">Adicionar Produto</a>
  </div>
  <div ng-if="dataLoading">
    <span>Buscando produto do banco de dados...</span>
  </div>

</div>
